/* Welcome to Susy. Use this file to define screen styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen" rel="stylesheet" type="text/css" /> */
/* Reset --------------------------------------------------------------*/
/* line 14, /usr/local/lib/ruby/gems/1.9.1/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 17, /usr/local/lib/ruby/gems/1.9.1/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
  color: black;
  background: white;
}

/* line 19, /usr/local/lib/ruby/gems/1.9.1/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 21, /usr/local/lib/ruby/gems/1.9.1/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 23, /usr/local/lib/ruby/gems/1.9.1/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 25, /usr/local/lib/ruby/gems/1.9.1/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: "" "";
}
/* line 96, /usr/local/lib/ruby/gems/1.9.1/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

/* line 27, /usr/local/lib/ruby/gems/1.9.1/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* HTML5 Reset --------------------------------------------------------------*/
/* line 107, /usr/local/lib/ruby/gems/1.9.1/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
section, article, aside, header, footer, nav, dialog, figure {
  display: block;
}

/* line 16, content/s/./_defaults.sass */
body {
  font-family: "Adobe Caslon Pro", Caslon, Baskerville, Palatino, "Palatino Linotype", "Hoefler Text", Garamond, "URW Palladio L", "Book Antiqua", Georgia, serif;
  color: #4c4c4c;
}

/* line 23, content/s/./_defaults.sass */
a:link, a:visited {
  color: #005498;
}
/* line 25, content/s/./_defaults.sass */
a:focus, a:hover, a:active {
  color: #00467f;
  text-decoration: none;
}
/* line 28, content/s/./_defaults.sass */
a img {
  border: none;
}

/* line 33, content/s/./_defaults.sass */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}
/* line 35, content/s/./_defaults.sass */
h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {
  margin: 0;
}

/* line 38, content/s/./_defaults.sass */
h1 {
  font-size: 3em;
  line-height: 1em;
  margin-bottom: 0.5em;
}

/* line 42, content/s/./_defaults.sass */
h2 {
  font-size: 2em;
  line-height: 1.5em;
  margin-bottom: 0.75em;
}

/* line 46, content/s/./_defaults.sass */
h3 {
  font-size: 1.5em;
  line-height: 1em;
  margin-bottom: 1em;
}

/* line 50, content/s/./_defaults.sass */
h4 {
  font-size: 1.125em;
  line-height: 1.333em;
  margin-bottom: 1.333em;
}

/* line 54, content/s/./_defaults.sass */
h5, h6 {
  margin-bottom: 1.5em;
  font-weight: bold;
}

/* line 60, content/s/./_defaults.sass */
cite, em, dfn {
  font-style: italic;
}

/* line 63, content/s/./_defaults.sass */
strong, dfn {
  font-weight: bold;
}

/* line 66, content/s/./_defaults.sass */
sup, sub {
  line-height: 0;
}

/* line 69, content/s/./_defaults.sass */
abbr, acronym {
  border-bottom: 1px dotted;
  cursor: help;
}

/* line 73, content/s/./_defaults.sass */
address {
  margin-bottom: 1.5em;
  font-style: italic;
}

/* line 77, content/s/./_defaults.sass */
ins {
  text-decoration: underline;
}

/* line 80, content/s/./_defaults.sass */
del {
  text-decoration: line-through;
}

/* line 83, content/s/./_defaults.sass */
pre, code, tt {
  margin: 1.5em;
  margin-left: -1.5em;
  padding-left: 1.5em;
  border-left: 1px dotted;
  font-family: Consolas, Menlo, Monaco, "Lucida Console", "Liberation Mono", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New", monospace, serif;
}

/* line 90, content/s/./_defaults.sass */
pre {
  white-space: pre;
}

/* line 93, content/s/./_defaults.sass */
code {
  display: block;
}

/* line 96, content/s/./_defaults.sass */
q {
  font-style: italic;
}
/* line 98, content/s/./_defaults.sass */
q em {
  font-style: normal;
}

/* line 101, content/s/./_defaults.sass */
p {
  margin-bottom: 1.5em;
}

/* line 104, content/s/./_defaults.sass */
blockquote, q {
  quotes: "" "";
}

/* line 107, content/s/./_defaults.sass */
blockquote {
  margin: 1.5em;
  margin-left: -1.5em;
  padding-left: 1.5em;
  border-left: 1px solid;
  font-family: "Adobe Caslon Pro", Caslon, Baskerville, Palatino, "Palatino Linotype", "Hoefler Text", Garamond, "URW Palladio L", "Book Antiqua", Georgia, serif;
  font-style: italic;
}

/* line 116, content/s/./_defaults.sass */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

/* line 121, content/s/./_defaults.sass */
img {
  vertical-align: bottom;
}

/* line 138, content/s/./_defaults.sass */
ol {
  margin: 0 1.5em 1.5em 0;
  list-style: decimal;
}

/* line 141, content/s/./_defaults.sass */
ul {
  margin: 0 1.5em 1.5em 0;
  list-style: disc;
}

/* line 145, content/s/./_defaults.sass */
li ul, li ol {
  list-style-type: circle;
  margin: 0 1.5em 0.75em;
}

/* line 149, content/s/./_defaults.sass */
dl {
  margin-bottom: 1.5em;
  border-top-style: solid;
  border-top-width: 0.063em;
  padding-top: 1.438em;
}
/* line 152, content/s/./_defaults.sass */
dl dt {
  font-size: 1.125em;
  line-height: 1.333em;
  margin-bottom: 0.667em;
}

/* line 156, content/s/./_defaults.sass */
dd {
  margin-bottom: 1.5em;
  border-bottom-style: solid;
  border-bottom-width: 0.063em;
  padding-bottom: 1.438em;
}

/* line 163, content/s/./_defaults.sass */
table {
  margin-bottom: 1.5em;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
}

/* line 169, content/s/./_defaults.sass */
table, td, th {
  vertical-align: top;
}

/* line 172, content/s/./_defaults.sass */
th, thead th {
  font-weight: bold;
}

/* line 175, content/s/./_defaults.sass */
th, td, caption {
  padding: 0.75em;
  text-align: left;
  font-weight: normal;
}

/* line 180, content/s/./_defaults.sass */
th, td {
  border-bottom-style: solid;
  border-bottom-width: 0.063em;
  padding-bottom: 0.688em;
}

/* line 183, content/s/./_defaults.sass */
tfoot {
  font-size: 0.875em;
  line-height: 1.714em;
}

/* line 186, content/s/./_defaults.sass */
caption {
  font-size: 1.5em;
  line-height: 1em;
  margin-bottom: 1em;
}

/* line 192, content/s/./_defaults.sass */
fieldset {
  margin-bottom: 1.5em;
  border-style: solid;
  border-width: 0.063em;
  padding: 1.438em;
}

/* line 196, content/s/./_defaults.sass */
legend {
  font-size: 1.125em;
  line-height: 1.333em;
  font-weight: bold;
}

/* line 200, content/s/./_defaults.sass */
label {
  font-weight: bold;
}

/* line 203, content/s/./_defaults.sass */
textarea, input:not([type="radio"]) {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}

/* line 29, /usr/local/lib/ruby/gems/1.9.1/gems/compass-susy-plugin-0.7.0/sass/susy/././_vertical_rhythm.scss */
body {
  font-size: 100%;
  line-height: 1.5em;
}

/* line 33, /usr/local/lib/ruby/gems/1.9.1/gems/compass-susy-plugin-0.7.0/sass/susy/././_vertical_rhythm.scss */
html > body {
  font-size: 16px;
}

/* line 18, /usr/local/lib/ruby/gems/1.9.1/gems/compass-susy-plugin-0.7.0/sass/susy/_susy.scss */
body {
  text-align: center;
}

/* line 14, content/s/screen.sass */
#page {
  overflow: hidden;
  display: inline-block;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  width: 61em;
  max-width: 100%;
}
/* line 8, /usr/local/lib/ruby/gems/1.9.1/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/utilities/general/./_hacks.scss */
#page {
  display: block;
}

/* line 38, content/s/screen.sass */
body {
  background-color: white;
  border-top: solid 4px #3a60ad;
}

/* line 47, content/s/screen.sass */
#header {
  display: inline;
  float: left;
  width: 96.721%;
  margin-right: 1.639%;
  display: inline;
  float: right;
  margin-right: 1.639%;
  /* ugly hacks for IE6-7 */
  #margin-left: -1em;
}

/* line 51, content/s/screen.sass */
#logo {
  display: inline;
  float: left;
  width: 32.203%;
  margin-right: 1.695%;
}

/* line 53, content/s/screen.sass */
#nav {
  display: inline;
  float: left;
  width: 66.102%;
  margin-right: 1.695%;
  display: inline;
  float: right;
  margin-right: 0;
  /* ugly hacks for IE6-7 */
  #margin-left: -1em;
  font-size: 1.125em;
  line-height: 1.333em;
  margin-top: 2em;
  margin-bottom: 4em;
  text-align: right;
}
/* line 61, content/s/screen.sass */
#nav ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  display: inline;
}
/* line 8, /usr/local/lib/ruby/gems/1.9.1/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/utilities/lists/_inline-list.scss */
#nav ul li {
  margin: 0px;
  padding: 0px;
  display: inline;
}
/* line 63, content/s/screen.sass */
#nav a {
  text-decoration: none;
  padding: 0.4em 0.5em;
}
/* line 48, content/s/./_base.sass */
#nav a:link, #nav a:visited {
  color: #122b5e;
}
/* line 51, content/s/./_base.sass */
#nav a:hover, #nav a:focus {
  color: white;
  background-color: #122b5e;
}

/* line 66, content/s/screen.sass */
#footer {
  margin-top: 2em;
  text-align: center;
  color: white;
  background: #122b5e;
  padding-bottom: 10px;
}
/* line 72, content/s/screen.sass */
#footer ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  display: inline;
}
/* line 8, /usr/local/lib/ruby/gems/1.9.1/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/utilities/lists/_inline-list.scss */
#footer ul li {
  margin: 0px;
  padding: 0px;
  display: inline;
}
/* line 74, content/s/screen.sass */
#footer a {
  text-decoration: none;
  padding: 0.4em 0.5em;
}
/* line 48, content/s/./_base.sass */
#footer a:link, #footer a:visited {
  color: white;
}
/* line 51, content/s/./_base.sass */
#footer a:hover, #footer a:focus {
  color: #122b5e;
  background-color: white;
}

/* line 77, content/s/screen.sass */
.footerNav {
  margin-bottom: 0.706em;
}

/* line 82, content/s/screen.sass */
#quote_container {
  clear: both;
  margin-right: 1.639%;
  margin-left: 1.639%;
  padding-left: 16.393%;
  padding-right: 16.393%;
}

/* line 86, content/s/screen.sass */
#quote_cycle {
  height: 100px;
  width: 635px;
}

/* line 92, content/s/screen.sass */
#improves {
  clear: both;
  margin-right: 1.639%;
  margin-left: 1.639%;
  padding-left: 8.197%;
  font-size: 2.5em;
  line-height: 1.2em;
  margin-top: 0.6em;
  color: #122b5e;
}

/* line 99, content/s/screen.sass */
.descriptext {
  color: #353535;
  font-size: 1.25em;
  line-height: 1.2em;
}

/* line 103, content/s/screen.sass */
#row {
  display: inline;
  float: left;
  width: 96.721%;
  margin-right: 1.639%;
  display: inline;
  float: right;
  margin-right: 1.639%;
  /* ugly hacks for IE6-7 */
  #margin-left: -1em;
  margin-top: 24px;
}

/* line 108, content/s/screen.sass */
#descrip1 {
  clear: both;
  margin-right: 1.639%;
  margin-left: 1.639%;
  padding-left: 8.475%;
  padding-right: 50.847%;
  margin-top: 24px;
}

/* line 115, content/s/screen.sass */
#navigarDef {
  display: inline;
  float: left;
  width: 32.203%;
  margin-right: 1.695%;
  padding: 10px;
  margin-left: 5em;
  -moz-border-radius: 6;
  -webkit-border-radius: 6;
  -o-border-radius: 6;
  -ms-border-radius: 6;
  -khtml-border-radius: 6;
  border-radius: 6;
  border: solid #122b5e 3px;
}

/* line 122, content/s/screen.sass */
#descrip2 {
  display: inline;
  float: left;
  width: 40.678%;
  margin-right: 1.695%;
  padding-right: 8.475%;
  display: inline;
  float: right;
  margin-right: 0;
  /* ugly hacks for IE6-7 */
  #margin-left: -1em;
}

/* line 128, content/s/screen.sass */
section {
  display: inline;
  float: left;
  width: 72.131%;
  margin-right: 1.639%;
  display: inline;
  float: right;
  margin-right: 1.639%;
  /* ugly hacks for IE6-7 */
  #margin-left: -1em;
}
/* line 131, content/s/screen.sass */
section article {
  display: inline;
  float: left;
  width: 65.909%;
  margin-right: 2.273%;
}
/* line 133, content/s/screen.sass */
section aside {
  display: inline;
  float: left;
  width: 31.818%;
  margin-right: 2.273%;
  display: inline;
  float: right;
  margin-right: 0;
  /* ugly hacks for IE6-7 */
  #margin-left: -1em;
}

/* line 137, content/s/screen.sass */
footer {
  clear: both;
  margin-right: 1.639%;
  margin-left: 1.639%;
  padding-left: 24.59%;
  padding-right: 24.59%;
}
