#!/usr/bin/env ruby

# A few helpful tips about the Rules file:
#
# * The order of rules is important: for each item, only the first matching
#   rule is applied.
#
# * Item identifiers start and end with a slash (e.g. “/about/” for the file
#   “content/about.html”). To select all children, grandchildren, … of an
#   item, use the pattern “/about/*/”; “/about/*” will also select the parent,
#   because “*” matches zero or more characters.

layout '/default/', :haml, :format => :html5

compile 'styNab/*' do
  filter :sass
  filter :relativize_paths, :type => :css
end

compile 'reset/*' do
  filter :sass
  filter :relativize_paths, :type => :css
end

compile '/stylesheet/' do
  # don’t filter or layout
end

compile 'contact/*' do
  filter :erb
  layout 'default'
  filter :relativize_paths, :type => :html
end

compile '*' do
  filter :haml
  layout 'default'
  filter :relativize_paths, :type => :html
end

route 'reset/*' do
  item.identifier.chop + '.css' # so that the /assets/style/screen/ item is compiled to /assets/style/screen.css
end

route 'styNab/*' do
  item.identifier.chop + '.css' # so that the /assets/style/screen/ item is compiled to /assets/style/screen.css
end



route '/stylesheet/' do
  '/style.css'
end

route '*' do
  item.identifier + 'index.html'
end

layout '*', :erb
