#contact_form		  { width:600px;
                        position:relative; top:400px; left:90px}

p					  { float: right;}
                          
form fieldset	      { font-family:Georgia, Arial, Helvetica, sans-serif; font-size:0.8em; color: 909090;
						margin:0px 0px 20px 0px; width:578px; position:relative;
						border:0;display:block; padding: 0px 10px 8px; }
						  
form fieldset legend  { border-width:1px; border-style:solid; border-color:#BBBB66; color:#3D7169;
						font-weight:bold; font-variant:small-caps; font-size:140%; padding:4px 8px;
						margin:0px 0px 10px 0px; position:relative; top: -12px; background:black; }
						
label				  { font-size:90%; display:block; float:left; width:10em; text-align:right;
						margin:.2em .2em 0 0; color:#ffd; font-weight:bold;padding:8px 0px;}

input				  { height:25px; margin: 0px 0px 10px 0px; font-size:14px;
						border:1px solid #B4B4B4;
						background-color:#E5E5E5 }
						
input:hover		      { background-color:#FFFFFF }
input:focus			  { border-color:#000000; background-color:#FFFFFF }

input#name, #company, 
#addr1, #addr2, 
#email			      { width:300px;}

textarea#comments	  { width:400px; border:1px solid #B4B4B4; background-color:#E5E5E5; }
input.button		  { position:absolute; top:460px; left:0px; 
						font-size:15px; font-family:Georgia,serif; font-weight:bold;
   						color:#000066; width:100px; height:35px; background-color:#FFFFFF;
   						border-style:solid; border-color:#000066; border-width:1px;
   						margin: 0px 0px 10px 0px; }

input.button:hover	  { background:#505050 none repeat scroll 0% 0%; color:white; }