body {
  background: white;
  font-family: "Georgia", "Minion Pro", "Times New Roman", "Times", "serif";
  color: #353535;
  font-size: 14px;
  line-height: 18px;
  width: 960px; }

#mainContainer {
  width: 100%;
  height: 100%;
  overflow: auto;
  background: none;
  margin: 0 auto;
  padding: 0;
  z-index: 50;
  text-align: center;
  position: fixed; }

#entire {
  position: relative;
  width: 960px;
  margin: 0 auto;
  padding-bottom: 20px;
  text-align: left; }

.headerLogo {
  position: relative;
  margin-left: 80px;
  margin-top: 20px;
  margin-bottom: 0px; }
  .headerLogo a:link, .headerLogo a:visited {
    width: 300px;
    height: 120px; }
  .headerLogo a:hover, .headerLogo a:focus {
    background: url(i/logo.png) no-repeat scroll; }
  .headerLogo a:active {
    background: url(i/logo.png) no-repeat scroll; }

#navBar {
  position: absolute;
  right: 40px;
  top: 80px;
  font-size: 1.2em; }
  #navBar li {
    display: inline; }
  #navBar .navButton a {
    text-decoration: none;
    padding: 8px 8px 8px 8px;
    margin: -4px -3px -2px -3px; }
    #navBar .navButton a:link, #navBar .navButton a:visited {
      color: #122b5e; }
    #navBar .navButton a:hover, #navBar .navButton a:focus {
      color: white;
      background-color: #122b5e; }
  #navBar .contactButton a {
    text-decoration: none;
    padding: 8px 8px 8px 8px;
    margin: -4px -3px -2px -3px; }
    #navBar .contactButton a:link, #navBar .contactButton a:visited {
      color: white;
      background-color: #3a60ad; }
    #navBar .contactButton a:hover, #navBar .contactButton a:focus {
      color: white;
      background-color: #122b5e; }

p {
  color: #353535; }
  p a {
    text-decoration: underline;
    padding: 4px 3px 2px 3px;
    margin: -4px -3px -2px -3px; }
    p a:link, p a:visited {
      color: #353535; }
    p a:hover, p a:focus {
      color: white;
      background-color: blue; }

#quote_cycle {
  position: relative;
  left: 200px;
  margin-top: 40px; }
  #quote_cycle img {
    position: absolute;
    z-index: 8;
    opacity: 0; }
    #quote_cycle img.active {
      z-index: 10;
      opacity: 1; }
    #quote_cycle img.last-active {
      z-index: 9; }
