/* Welcome to Susy. Use this file to define screen styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen" rel="stylesheet" type="text/css" />

// Imports --------------------------------------------------------------*/

@import defaults

// Layout --------------------------------------------------------------

+susy

// change '#page' to match your HTML container element(s)
#page
  +container
  //+show-grid("grid.png")

// show-grid loads a 64+16x24 grid image by default
// For other grid settings, run `compass grid-img 30+10x20`
// Where 30 is the column width, 10 is the gutter width, 
// and 20 is the (optional) line-height.

// Styles --------------------------------------------------------------

// Color Variables -----------------------------------------------------

$white      : #FFF
$offblack   : #353535
$lightblue  : #3a60ad
$darkblue   : #122b5e
$radius     : 6px

//#page *
  background-color: rgba(0, 0, 0, 0.125)
  
// General styles

body
  background-color: $white

#border
  border-top: solid 4px $lightblue
  
  
// Header/Footer ---------------------------------------------

#header
  +columns(12)
  +omega

#logo
  +columns(4,12)
#nav
  +columns(8,12)
  //+prefix(1,12)
  +omega(12)
  +adjust-font-size-to(18px)
  +leader(2, 24px)
  +trailer(4, 24px)
  text-align: right
  ul
    +inline-list
  a
    +link-boxed( $darkblue, $white )
    
#footer
  +leader(2, 24px)
  text-align: center
  color: $white
  background: $darkblue
  padding-bottom: 10px
  ul
    +inline-list
  a
    +link-boxed ( $white, $darkblue )
    
.footerNav
  +trailer(1, 34px)
  
// General Purpose -------------------------------------

#tittle
  +full
  color: $darkblue
  +adjust-font-size-to(120px)
  text-align: right
  +prefix(6)
  border-bottom: solid 2px $lightblue

#tittleBot
  +full
  color: $darkblue
  +adjust-font-size-to(64px)
  +prefix(7)
  text-align: right

// Index.haml-specific code ----------------------------

#quote_container
  +full
  +pad(2, 2)

#quote_cycle
  //+full
  //margin-left: 11em
  height: 100px
  width: 635px
    
#improves
  +full
  +prefix(1)
  +adjust-font-size-to(40px)
  +leader(1, 40px)
  color: $darkblue
  
.descriptext
  color: $offblack
  +adjust-font-size-to(20px)
  
#row
  +columns(12)
  +omega
  +leader(1, 1em)
  
#descrip1
  +columns(6, 12)
  +prefix(1, 12)
  //+leader(1, 1em)
  //+suffix(1, 12)

#navigarDefBox
  +columns(4, 12)
  +suffix(1, 12)
  +omega(12)

#navigarDef
  padding: 10px
  //margin-left: 5em
  +border-radius($radius)
  border: solid 3px $lightblue

#descrip2
  +columns(5, 12)
  +suffix(1, 12)
  +omega(12)
  
// Who-specific ------------------------------------------------------


  
  
section
  +columns(9)
  +omega
  article
    +columns(6, 9)
  aside
    +columns(3, 9)
    +omega(9)

footer
  +full
  +pad(3, 3)
  
// Contact.html-specific code ----------------------------

.formFlank
  +full
  color: $offblack
  +adjust-font-size-to(28px)
  +columns(7, 12)
  +suffix(1)
  
.contactForm
  +full
  color: $offblack
  +adjust-font-size-to(28px)
  +columns(7, 12)
  +trailer(1)
  +omega(12)



