/* Welcome to Susy. Use this file to define screen styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen" rel="stylesheet" type="text/css" />

// Imports --------------------------------------------------------------*/

@import defaults

// Layout --------------------------------------------------------------

+susy

// change '#page' to match your HTML container element(s)
#page
  +container
  +show-grid("grid.png")

// show-grid loads a 64+16x24 grid image by default
// For other grid settings, run `compass grid-img 30+10x20`
// Where 30 is the column width, 10 is the gutter width, 
// and 20 is the (optional) line-height.

// Styles --------------------------------------------------------------

// Color Variables -----------------------------------------------------

$white      : #FFF
$offblack   : #353535
$lightblue  : #3a60ad
$darkblue   : #122b5e
$darkerblue : #07183a
$radius     : 6px

//#page *
  background-color: rgba(0, 0, 0, 0.125)
  
// General styles

body
  background-color: $white

#border
  border-top: solid 4px $lightblue
  
  
// Header/Footer ---------------------------------------------

#header
  +columns(12)
  +omega

#logo
  +columns(4,12)
#nav
  +columns(8,12)
  //+prefix(1,12)
  +omega(12)
  +adjust-font-size-to(18px)
  +leader(2, 24px)
  +trailer(4, 24px)
  text-align: right
  ul
    +inline-list
  a
    +link-boxed( $darkblue, $white )
    
#footer
  +leader(2, 24px)
  text-align: center
  color: $white
  background: $darkblue
  +linear-gradient(color-stops($darkblue, $darkerblue))
  padding-bottom: 20px
  ul
    +inline-list
  a
    +link-boxed ( $white, $darkblue )
    
.footerNav
  +trailer(1, 34px)
  
// General Purpose -------------------------------------

#fullwidth
  +columns(12)
  +omega

#text
  +columns(7,12)
  +prefix(3,12)
  +suffix(2,12)
  +leader(1, 24px)

#tittleText
  color: $darkblue
  +adjust-font-size-to(60px)
  padding-left: 12px
  border-left: solid 12px $lightblue
  
#mainText
  +columns(6,7)
  +leader(1)
  text-align: justify

  
.bullets
  +leader(1)
  margin-left: 1em
  color: $lightblue
  +adjust-font-size-to(24px)
  
  li
    margin-bottom: 8px
    


// Index.haml-specific code ----------------------------

#quote_container
  +full
  +pad(2, 2)

#quote_cycle
  //+full
  //margin-left: 11em
  height: 100px
  width: 635px
    
#improves
  +full
  +prefix(1)
  +adjust-font-size-to(40px)
  +leader(1, 40px)
  color: $darkblue
  
.descriptext
  color: $offblack
  +adjust-font-size-to(20px)
  
#row
  +columns(12)
  +omega
  +leader(1, 1em)
  
#descrip1
  +columns(6, 12)
  +prefix(1, 12)
  //+leader(1, 1em)
  //+suffix(1, 12)

#navigarDefBox
  +columns(4, 12)
  +suffix(1, 12)
  +omega(12)

#navigarDef
  padding: 10px
  //margin-left: 5em
  +border-radius($radius)
  border: solid 3px $lightblue

#descrip2
  +columns(5, 12)
  +suffix(1, 12)
  +omega(12)
  
// Who-specific ------------------------------------------------------

#textBio
  +columns(7,12)
  +prefix(3,12)
  +suffix(2,12)
  +leader(1, 24px)

#biosbox
  //nothing

#biog
  //diplay:inline
  
  +columns(3,7)
  text-align: center
  +trailer(1, 24px)
  
  img
    border: solid 6px $lightblue
    border-bottom: solid 30px $lightblue
    //margin: 6px
    
    &:hover, &:focus
      border: solid 6px $darkblue
      border-bottom: solid 30px $darkblue
      
  a
    text-decoration: none
    //padding: 6px
    //margin: -4px -3px -2px -3px
    
    //border: solid 6px $lightblue
    //padding-top: 100px
    
    //&:link, &:visited
      border: solid 6px $lightblue
      

    //&:hover, &:focus
      border: solid 6px $darkblue
      
  .bioname
    position: relative
    //margin-left: 10px
    margin-top: -1.7em
    //text-align: center
    //margin-left: 1em
    //background-color: $darkblue
    color: $white
  
// Contact.html-specific code ----------------------------

.formsplanation
  +adjust-font-size-to(20px)

#formFlank
  +columns(8)
  +prefix(2)
  +suffix(2)
  +omega
  +leader(2, 24px)
  color: $offblack
  
.contactForm
  //+full
  color: $offblack
  //+adjust-font-size-to(28px)
  //+columns(7, 12)
  //+trailer(1)
  //+omega(12)

  // From nav2

  //legend
    font-size: 2.0em
    line-height: 1.5em
    text-align: left
    width: 600px
  
  input
    height: 25px
    margin: 0px 0px 10px 0px
    font-size: 14px
    border: 1px solid #B4B4B4
    background-color: #FFF
    &:focus, &.sffocus
      border-color: #3a60ad
      background-color: #FFF
    
  textarea
    width: 250px
    height: 150px
    border: 1px solid #B4B4B4
    margin: 0px 0px 10px 0px
    &:focus
      border-color: #3a60ad
    
  input.button
    width: 85px
    height: 25px
    //top: -203px
    position: relative
    color: $white
    background-color: $lightblue

#leftContact
  +columns(4,8)
#rightContact
  +columns(4,8)
  +omega(8)
  
//Partners Page Specific  ------------------------

#partnerContainer
  +columns(10,12)
  +prefix(1,12)
  +suffix(1,12)
  +leader(1, 24px)
  +omega

#partnerLogoContainer
  +columns(4,10)
  
#partnerText
  +columns(6,10)
  +omega(10)
  text-align: justify
  
.partnerLogo
  width: 300px
  margin-right: 12px
  margin-bottom: 12px
  
//Resources Page Specific ------------------------
.fileDownload
  text-align: left
  margin: 10px

  img

    border: solid 6px $lightblue
    margin: 6px
    
    &:hover, &:focus
      border: solid 6px $darkblue
#fileTextHead
  +adjust-font-size-to(24px)
  margin: 5px
  //+border-radius($radius)
  //border: solid 2px $offblack
  border-bottom: solid 1px $offblack

#fileText
  +adjust-font-size-to(10px)
  line-height: 16px