%p.formFlank
  Get in touch with us at
  %span{:style => "color:green"} 508-577-5915
  to see how we can help you to improve your business processes.
%p.or or
%form.contactForm{:action => "", :method => "post", :name => "contact"}
  %fieldset
    %legend
      complete the
      %span{:style => "color:#3a60ad"} form
      below and
      %br/
      we will get back to you as soon as possible.
      %br/
      .leftContact
        %div Name:
        %input#name{:maxlength => "30", :name => "name", :type => "text"}/
        %div Area Code & Phone Number:
        %input#area_code{:maxlength => "3", :name => "area_code", :size => "3", :type => "text"}/
        \-
        %input#number{:maxlength => "8", :name => "number", :size => "8", :type => "text"}/
        %div E-mail:
        %input#email{:maxlength => "30", :name => "email", :type => "text"}/
        %div Comments:
        %textarea#comments{:maxlength => "300", :name => "comments", :rows => "4"}
        .rightContact
          %div Company:
          %input#company{:maxlength => "30", :name => "company", :type => "text"}/
          %div Address Number & Street Name:
          %input#addr1{:maxlength => "30", :name => "addr1", :type => "text"}/
          %div Address Line Two:
          %input#addr2{:maxlength => "30", :name => "addr2", :type => "text"}/
          %div City, Zip & State:
          %input#city{:maxlength => "20", :name => "city", :size => "20", :type => "text"}/
          %input#zip{:maxlength => "5", :name => "zip", :size => "5", :type => "text"}/
          %input#state{:maxlength => "2", :name => "state", :size => "2", :type => "text"}/
        %input#submit_btn.button{:name => "submit", :type => "submit", :value => "Send"}/