--- 
title: Home
---
<<<<<<< HEAD
    
Navigar Consulting improves business processes.
=======

#quote_cycle
	%img{:src => "/i/quote1.jpg", :class => "active"}
	%img{:src => "/i/quote2.jpg"}
	%img{:src => "/i/quote3.jpg"}

#improves Navigar Consulting improves business processes.

#descrip1 Through our proven methodology and the use of new and existing technologies Navigar improves business processes resulting in cost savings,
improved controls, and transparency.
>>>>>>> 7deae8c099c3e15b74a565499e91df0f9fabd70f
