--- 
title: Home
---

%ul.navBar
  %li
    =link_to('Who We Are', '/who/')
  %li
    =link_to('What We Do', '/what/')
  %li
    =link_to('Resources', '/resources/')
  %li
    =link_to('Partners', '/partners/')
  %li.contactButton
    =link_to('Contact', '/contact/')