--- 
title: Home
---

#quote_container
  #quote_cycle
    %img{:src => "/i/quote1.jpg"}
    %img{:src => "/i/quote2.jpg"}
    %img{:src => "/i/quote3.jpg"}

#improves Navigar Consulting improves business processes.

//#row        
#descrip1.descripText 
  Through our proven methodology and the use of new and existing technologies, Navigar 
  %strong improves business processes
  resulting in cost savings, improved controls, and transparency.

#row
  #navigarDef
    %strong Navigar
    is a derivative of the Latin word for Navigation, which is to plan, control, and record the position and course of a vehicle on a journey. 
    %br
    %br
    Much like a crew navigates a ship through the waters, Navigar will lead your organization through process improvements.
  #descrip2.descripText Navigar provides the expertise to improve organizational process performance for clients who are planning for, implementing a process improvement project, or moving to an environment of continual process improvement.