--- 
title: Home
---


.row
  .column.grid_12
    .row
      .column.grid_2
        &nbsp
      .column.grid_8
        #quote_cycle
          %img{:src => "/i/quote1.jpg"}
          %img{:src => "/i/quote2.jpg"}
          %img{:src => "/i/quote3.jpg"}
      .column.grid_2
        &nbsp

%br
.row
  .column.grid_12
    .row
      .column.grid_12
        #improves Navigar Consulting improves business processes.
        
%br
.row
  .column.grid_12
    .row
      .column.grid_8
        #descrip1.descripText 
          Through our proven methodology and the use of new and existing technologies, Navigar 
          %strong improves business processes
          resulting in cost savings, improved controls, and transparency.
      .column.grid_4
        &nbsp

%br
.row
  .column.grid_12
    .row
      .column.grid_6
        .navigarDef
          %strong Navigar
          is a derivative of the Latin word for Navigation, which is to plan, control, and record the position and course of a vehicle on a journey. 
          %br
          %br
          Much like a crew navigates a ship through the waters, Navigar will lead your organization through process improvements.
      .column.grid_6
        #descrip2.descripText Navigar provides the expertise to improve organizational process performance for clients who are planning for, implementing a process improvement project, or moving to an environment of continual process improvement.

%br
.row
  .column.grid_12
    .row
      .column.grid_1
        &nbsp
      .column.grid_10
        %hr
      .column.grid_1
        &nbsp

