--- 
title: Home
---

#quote_cycle
	%img{:src => "/i/quote1.jpg", :class => "active"}
	%img{:src => "/i/quote2.jpg"}
	%img{:src => "/i/quote3.jpg"}
    
%h2 Navigar Consulting improves business practices.