--- 
title: Home
---

#quote_cycle
	%img{:src => "/i/quote1.jpg"}
	%img{:src => "/i/quote2.jpg"}
	%img{:src => "/i/quote3.jpg"}

#improves Navigar Consulting improves business processes.

#descrip1 Through our proven methodology and the use of new and existing technologies Navigar improves business processes resulting in cost savings,
improved controls, and transparency.

#descrip2 Navigar provides the expertise to improve organizational process performance for clients who are planning for, implementing a process improvement project, or moving to an environment of continual process improvement.