--- 
title: A New Item
---

%h2 Partners
%p Navigar works with our partners to provide comprehensive Business Process Management solutions and services.  Our partner are important to client satisfaction and we work with the best technology and services companies in the industry.
#partner
  %img.partnerLogo{:alt => "Appian", :src => "i/Appian_logo_RED.jpeg"}/
  %p.partnerBio
    Appian is the Business Process Management (BPM) expert. Appian leads the market in BPM innovation, delivering comprehensive, flexible and easy-to-use solutions tailored to the unique needs of individual organizations. Businesses and governments worldwide use Appian to simplify process improvement with the real-time visibility, control and analytics needed to improve business performance. Appian allows users across the organization to effectively collaborate and be part of the process of achieving corporate goals. Appian empowers more than 2.5 million users globally and has a strong customer base in the government, financial services, healthcare, manufacturing and telecommunications industries. Appian is headquartered in the Washington D.C. region, with professional services and partners around the globe.
/ End #partner Appian
#partner
  %img.partnerLogo{:alt => "Lombardi", :src => "i/lombardi.jpeg"}/
  %p.partnerBio
    Lombardi believes that a Process-Driven approach is the best way to win.  We deliver a suite of Business Process Management (BPM) software and services that enable organiztaions to quickly become Process-Driven.  Lombardi is a recognized as a leader in the BPM software for Global 2000 companies by both Gartner and Forrester Research.
/ End #partner Lombardi