--- 
title: Resources
---

#tittleBox
  #tittleText 
    Assorted Documents

#fullwidth
  #resourceContainer
    #resourceFileContainer
      #filePic
        %a{ :href => "../files/Navigar_BPM.pdf" }
          %img{ :src => "../i/PDF.png"}
    #resourceDescription
      #fileTextHead
        Navigar's Business Process Management
        #fileText 
          Navigar offers comprehensive Process Management services that bring your organization 
          from initiating to implementing a project and then moving to an environment of continual 
          process improvement. 
        
        
  #resourceContainer
    #resourceFileContainer
      #filePic  
        %a{ :href => "../files/Navigar_Grant_Allocation_and_Control_White_Paper.pdf" }
          %img{ :src => "../i/PDF.png"}
    #resourceDescription
      #fileTextHead
        Navigar's Grant Allocation and Control White Paper
        #fileText
          Navigar Consulting proposes a business process management (BPM) approach to streamlining the 
          grant allocation process to create a faster process with fewer errors and ensuring compliance 
          with grant regulations and requirements.
      
        
  #resourceContainer
    #resourceFileContainer
      #filePic          
        %a{ :href => "../files/Navigar_BPCC.pdf" }
          %img{ :src => "../i/PDF.png"}
    #resourceDescription
      #fileTextHead
        Navigar's Business Process Competency Center
        #fileText
          We recognize that organizations may be at different phases of the BPM Lifecycle. Our Business Process 
          Comptency Center can give your organization the tools and resources that you need whether you are just 
          initiating a BPM project, implementing a BPM project, or in an environment of continual process improvement.