--- 
title: Stylesheet for new Navigar site.
---

$offblack: #353535
$navfonts: "Georgia", "Minion Pro", "Times New Roman", "Times", "serif"
$lightblue: #3a60ad
$darkblue: #122b5e
$inset: 80px

body
  background: #FFF
  font-family: $navfonts
  color: $offblack
  font-size: 14px
  line-height: 18px
  width: 960px
  
#mainContainer
  width: 100%
  height: 100%
  overflow: auto
  background: none
  margin: 0 auto
  padding: 0
  z-index: 50
  text-align: center
  position: fixed
    
#entire
  position: relative
  width: 960px
  margin: 0 auto
  padding-bottom: 1000px
  text-align: left
  
.headerLogo
  position: relative
  margin-left: 20px
  margin-top: 20px
  margin-bottom: 0px
    
  a
    &:link, &:visited
      width: 300px
      height: 120px

    &:hover, &:focus
      background: url(i/logo.png) no-repeat scroll

    &:active
      background: url(i/logo.png) no-repeat scroll
 
#navBar
  position: absolute
  right: 20px
  top: 80px
  font-size: 1.2em
  li
    display: inline
    
    
  .navButton
    a
      text-decoration: none
      padding: 8px 8px 8px 8px
      margin: -4px -3px -2px -3px
      
      &:link, &:visited
        color: $darkblue

      &:hover, &:focus
        color: #FFF
        background-color: $darkblue

  .contactButton
    a
      text-decoration: none
      padding: 8px 8px 8px 8px
      margin: -4px -3px -2px -3px
      
      &:link, &:visited
        color: #FFF
        background-color: $lightblue

      &:hover, &:focus
        color: #FFF
        background-color: $darkblue
    
     
p
  color: $offblack
  
  a
    text-decoration: underline
    padding: 4px 3px 2px 3px
    margin: -4px -3px -2px -3px
    &:link, &:visited
      color: $offblack

    &:hover, &:focus
      color: #FFF
      background-color: blue
      
#quote_cycle
  position: relative
  top: 40px
  left: 162px
  text-align: center
  img
    position: absolute
    z-index: 8
    opacity: 0.0
    &.active
      z-index: 10
      opacity: 1.0
    &.last-active
      z-index: 9
      
#improves
  position: absolute
  left: $inset
  top: 300px
  color: !lightblue
  font-size: 2.6em
  line-height: 2.6em
  
#descrip1
  position: absolute
  left: $inset
  top: 390px
  width: 500px
  
#descrip2
  position: absolute
  right: $inset
  top: 570px
  width: 480px
  text-align: right
  
.descripText
  font-size: 1.9em
  line-height: 1.1em
  color: $offblack
  
.navigarDef
  position: absolute
  left: $inset
  top: 570px
  width: 300px
  font-style: italic
  font-size: 1.3em
  line-height: 1.4em
  text-align: left
  color: #373737
  background-color: white
  padding: 10px
  -webkit-border-radius: 5px
  -moz-border-radius: 5px
  border-radius: 5px
  border: solid #122b5e 3px