--- 
title: What we do
---
#fullwidth

  #tittleBox
    #tittlyLinks
      %ul
        %li
          %a{:href => "#init"} Initiate
        %li
          %a{:href => "#impl"} Implement
        %li
          %a{:href => "#impr"} Improve
    #tittleText
      Optimal Organization Performance
    
  #text
    #mainText
      Navigar follows a three phased approach to optimizing organization performance to meet the 
      requirements of clients at all phases of the Business Process Management lifecycle. 
      While some organizations may be just considering a Process Improvement initiative, other 
      organizaitons may be ready to implement a project while yet others are ready to improve 
      existing processes for continued improvement.
  
  #phaseContainer  
    #phaseAside
      the three phases of development
      %a{:name => "init"}
      #phaseHeader
        Initiate
    #phaseText
      At Navigar we determine if a BPM project is right for your organization and then follow a strategic 
      approach to deciding which process provides the best return on investment. We follow a series of 
      modeling and simulation exercises to determine the valuation of each potential project.

  #phaseContainer
    #phaseAside
      %a{:name => "impl"}
      #phaseHeader
        Implement
    #phaseText  
      #subText    
        %strong
          Requirements
        During this phase, we gather the necessary requirements through a variety of methods including 
        focus groups, use case diagrams, 'as is' and 'to be' models, and BPMN (Business Process Modeling Notation). 
        Results are incorporated into comprehensive requirements documents that ensure all parties have the same 
        expectations of the process and the project. 
      #subText
        %strong
          Design
        The Design Phase consists of screen designs and layouts, screen navigation, menus error handling and error 
        and informational message definition. Edit criteria and security rules are defined. Interfaces are planned 
        and designed. Standards are incorporated such as BPMN and the Business Motivation Model (BMM). 
      #subText
        %strong
          Develop
        During the development phase the physical data models are implemented into physical structures. 
        Executables are developed from the design using a variety of languages and technologies including Business 
        Process Execution Language (BPEL) and XML Process Definition Language (XPDL).
      #subText
        %strong
          Test
        Proper and comprehensive test plans are critical to the success of any project. During this phase tests are 
        planned, documented, and executed. Test Plans are the basis for performing integration, system, and acceptance 
        testing activities.
      #subText
        %strong
          Deploy
        During the Deployment Phase, the modifications and or small enhancements to the system will be deployed to 
        the production environment, users are trained, data is converted (as needed), and the system is turned over 
        to the user. This phase includes efforts required to implement the system as well as to resolve any problems 
        identified during the implementation process.

  #phaseContainer
    #phaseAside
      %a{:name => "impr"}
      #phaseHeader
        Improve
    #phaseText
      #subText
        Navigar recognizes that clients are at different phases of the Business Process Management (BPM) lifecycle. 
        While some organizations may be embarking on a single Business Process Improvement (BPI) project, other 
        clients have created Business Process Improvement programs while yet others have brought it to an environment 
        of Continual Process Improvement (CPI).
      
      #subText
        Client needs are different depending on where they are at on the BPM lifecycle. 
        To accommodate the needs of all clients, Navigar provides Marketing Outreach and Education, a Business 
        Process Competency Center (BPCC), and Staff Augmentation to meet the needs of organizations improving 
        their business processes.