--- 
title: Who We Are
---

#tittleBox
  #tittleText Who We Are

#fullwidth
  #text
    #mainText 
      Navigar Consulting was founded when we recognized a gap in the marketplace. 
      We saw private and public organizations using existing systems and 
      infrastructure as well as companies who implemented new ERP systems 
      but ultimately had the same problem, that their business processes 
      were broken or inefficient. Our goal is to exceed customer expectations 
      by working with existing systems and infrastructure but delivering improved 
      business processes that result in:

      %ul.bullets
        %li Cost Savings
        %li Transparency and visibility into existing processes
        %li Improved process efficiency

      %p 
        Our services complement the Business Process Management System vendors 
        by providing domain process expertise and supporting technical skills and 
        expertise. Our client relationships are the most valuable asset to us and 
        we work every day to maintain and strengthen those relationship.

  #textBio
    %h1
      Meet the Crew    
    #biosBox
      #biog
        %a{:href => "../i/photos/bio_doug.jpg", :toptions => "overlayClose = 1, effect = clip"}
          %img{:src => "../i/thumbnails/thumb1.jpg"}
          %br
          .bioname Doug Ring
      #biog
        %a{:href => "../i/photos/bio_alvin.jpg", :toptions => "overlayClose = 1, effect = clip"}
          %img{:src => "../i/thumbnails/thumb1.jpg"}
          %br
          .bioname Alvin Duncan
      #biog
        %a{:href => "../i/photos/bio_rob.jpg", :toptions => "overlayClose = 1, effect = clip"}
          %img{:src => "../i/thumbnails/thumb1.jpg"}
          %br
          .bioname Rob Gilliam
      #biog
        %a{:href => "../i/photos/bio_kerry.jpg", :toptions => "overlayClose = 1, effect = clip"}
          %img{:src => "../i/thumbnails/thumb1.jpg"}
          %br
          .bioname Kerry Fuqua
      :javascript
          TopUp.addPresets({
            "#images a": {
              fixed: 0,
              group: "images",
              modal: 0,
              title: "Management Biographies"
            }
          });
