%html
  %head
    %title= @item[:title] + " :: Navigar Consulting :: " + @item[:title]
    
    %link{:href => "/reset.css", :type => "text/css", :rel => "stylesheet", :media => "screen"}
    %link{:href => "/styNab.css", :type => "text/css", :rel => "stylesheet", :media => "screen"}
    
  %body
    #mainContainer
      #entire
        %a{:href => "/index.html"}
          %img.headerLogo{:src => "/i/logo.png", :alt => "Navigar Consulting, LLC"}
        #navBar
          %ul
            %li
              =link_to('Who We Are', '/who/') + " | "
            %li
              =link_to('What We Do', '/what/')
            %li
              =link_to('Resources', '/resources/')
            %li
              =link_to('Partners', '/partners/')
            %li.contactButton
              =link_to('Contact', '/contact/')
        =yield