%html
  %head
    %title= @item[:title] + " :: Navigar Consulting :: " + @item[:title]
    
    %link{:href => "/reset.css", :type => "text/css", :rel => "stylesheet", :media => "screen"}
    %link{:href => "/styNab.css", :type => "text/css", :rel => "stylesheet", :media => "screen"}
    
    %script{:type => "text/javascript", :src => "http://code.jquery.com/jquery-1.4.2.min.js"}
    %script{:type => "text/javascript", :src => "/j/jq.js"}
    %script{:type => "text/javascript", :src => "/j/jq_cycle.js"}
    
  %body
    #mainContainer
      #entire
        %a{:href => "/index.html"}
          %img.headerLogo{:src => "/i/logo.png", :alt => "Navigar Consulting, LLC"}
        #navBar
          %ul
            %li.navButton
              =link_to('Who We Are', '/who/') + " | "
            %li.navButton
              =link_to('What We Do', '/what/') + " | "
            %li.navButton
              =link_to('Resources', '/resources/') + " | "
            %li.navButton
              =link_to('Partners', '/partners/') + " | "
            %li.contactButton
              =link_to('Contact', '/contact/')
        =yield